version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - github_actions      
  - package-ecosystem: pip
    directory: "/src"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - github_actions
      - python
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - github_actions
      - docker
  
